## Import, Upload & Inspect

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

filename = "Data/insurance - insurance.csv"
df = pd.read_csv(filename)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Q1. Do smokers have higher insurance charges than non-smokers?
- Null Hypothesis: There is no significance in insurance charges between smokers and non-smokers. 
- Alternate Hypothesis: There is a statistical difference between insurance charges of smokers and non-smokers. 
- Test: 2 Sample T-Test

## Q2. Are men more likely to smoke than women?
- Null Hypothesis: There is no significant data to indicate that men are more likely to smoke than women. 
- Alternate Hypothesis: There is statistical difference of men smoking more than women. 
- Test: 2 Sample T-Test

## Q3. Do different regions have different charges, on average?
- Null Hypothesis: There is no significant difference in insurance charges across regions. 
- Alternate Hypothesis: There is a significant difference in insurance charges across regions. 
- Test: ANOVA